.header{
	background:  #008B8B;
	width:900px;
	height: 120px;
	margin: 0 auto;
}

.header h1{
	text-align: right;
	margin-right: 20px;
	font-family: lucida;
	width:400px;
	background: :000;
	color:#fff;
	float: right;
	padding:;
}

.menu{
	width: 900px;
	height: 40px;
	margin: 0 auto;
	background:  #5F9EAD;
	border-top: 1px solid #000;
	text-align: center;
}

.menu ul li{
	display: inline;
}

.menu ul li a{
	color :#fff;
	margin :0 20px;
	font-family: lucida;
	text-decoration: none; 
}
.menu ul li a:hover{
	color: #00FFFF;
}
.content{
	width: 900px;
	height : 400px;
	margin:0 auto;
	background: #008B8B;
}

.subc{
	width : 290px;
	height: 380px;
	background: #fff;
	border-radius: 10px;
	float:left;
	margin:5px;
}